<!---Por Luis Mario Ireta Xiu-->
<!DOCTYPE html>
<html>
  <head>
    <title>Citas Anime 2.0</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Shippori+Antique&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <h1>¿Conoces quién dijo?:</h1>
    <div class="container">
  <div class="row">
    <% quotes.forEach(q => { %>
      <div class="col-md-4">
        <div class="card mb-4" style="width: 18rem;">
          <img src="/images/ambiente.jpg" class="card-img-top card_image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Personaje</h5>
            <p><%= q.character %></p>
            <h5 class="card-title">Frase</h5>
            <p><%= q.quote %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5>Anime: </h5>
              <p><%= q.show %></p>
            </li>
          </ul>
        </div>
      </div>
    <% }) %>
  </div>
</div>
  </body>
</html>
